@font-face {
  font-family: 'DingYongKang';
  src: url("../font/2012DingYongKangYingBiKaiShuXinBan-2.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Chewy';
  src: url("../font/Oh-Chewy-2.ttf");
  font-weight: normal;
  font-style: normal;
}
